@charset "UTF-8";


        *{
            margin: 0px;
            padding: 0px;
        }
        ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }
        img{
            width: 59vh;
            
            
            

        }
        a{
            background-color: darkred;
            display: block;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            color: white;
            font-weight: bolder;
            
            margin: 0px;

        }
    